{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tramifast | Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
   <div class="login">
    {% with messages= get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == "error" %}
            <div class="alert alert-danger alert-dismissible" role="alert">
            {% else %}
            <div class="alert alert-success alert-dismissible" role="alert">
            {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
    <div id="loading" style="display: none;">
        <div class="spinner-border" role="status">
            <span>Loading...</span>
        </div>
    </div>

    {# {{ wtf.quick_form(login_form) }} #}
    <form method="POST">
        <div class="login-container" action="{{ url_for('auth.login') }}" method="post"> 
            <div class="logo">
                <img src="{{ url_for('static', filename='images/newLogo.jpg') }}" />
            </div>
            <div class="form">
                {{login_form.csrf_token}}
                <div class="input-icon">
                    <div class="icon-container">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="input-container">
                        {{login_form.username()}}
                    </div>
                </div>
                <div class="input-icon">
                    <div class="icon-container">
                        <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="input-container">
                        {{login_form.password()}}
                    </div>
                </div>
            </div>
        </div>
        <div class="login-button">
            {{login_form.submit()}}
        </div>
    </form>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>