{% extends "base.html.jinja" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }} Constancia
{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock head %}

{% block navbar %}
    {% include "navbar2.html.jinja" %}
{% endblock navbar %}

{% block content %}
    <div class="center-vertical">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 shadow-box">
                    <h1>Solicita multiples constancia</h1>
                    {{ super() }}
                    <h4>Sube un archivo <a href="{{ url_for('static', filename='files/template.csv') }}">csv</a> para solicitar varias constancias</h4>
                    {{ wtf.quick_form( csv_form ) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/sat_login.js"></script>

{% endblock scripts %}