#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}
.center-vertical {
    display: flex;
    min-height: 100vh;
    align-items: center;
    max-height: 100vh;
    overflow-y: auto;
}
.shadow-box{
    box-shadow: 12px 12px 11px -2px rgba(0,0,0,0.58);
    -webkit-box-shadow: 12px 12px 11px -2px rgba(0,0,0,0.58);
    -moz-box-shadow: 12px 12px 11px -2px rgba(0,0,0,0.58);
    padding: 45px;
    border-radius: 10px;
    border: 1.5px solid #e6e6e6;
    background-color: #fff;
    opacity: .75;
}

.space-between{
    display: flex;
    justify-content: space-between;
}
.uppercase input{
    text-transform: uppercase;
}
.glyphicon{
    font-weight: 600;
}
.table-constancias th{
    width: 16.67%;
}
.table-constancias tr td form{
    display: inline-block;
}

.largo-65{
    min-height: 65vh;
}

.constancias-main {
    overflow-y: auto;
    max-height: 100vh;
    padding-top: 20px;
}

.page-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error h1, .error p{
    text-align: center;
    font-weight: bolder;
}
.error h1{
    font-size: 10rem;
}

.error p{
    font-size: 2rem;
}
.panel{
    padding: 10px;
}

#logo{
    width: 40%;
    object-fit: contain;
    background-color: #ab7f37;
    border-radius: 50%; 
    padding: 10px;
  
}
#login input{
    display: block;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #212121;
    width: 80%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px;
    font-size: 2rem;
}
#login #submit{
    background-color: #fff;
    color: #212121;
}

body{
    background-color: #212121;
}

/* Sidebar */


@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu {
background:#212121;
border-right:1px solid #ab7f37;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#000000;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
::placeholder{
    color:#e2e2e2;
}